spring:
  #配置模版引擎
  thymeleaf:
    mode: HTML5
    encoding: utf-8
    content-type: text/html
    cache: false
  #配置数据源
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/ccs?useSSL=true&useUnicode=true&characterEncoding=utf-8
    username: root
    password: sunny.123
    driver-class-name: com.mysql.jdbc.Driver
  #开发工具选项
  devtools:
    restart:
      exclude: static/**,public/**,templates/**

# mybatis设置
mybatis:
  #指定bean所在包
  type-aliases-package: com.leyuta.entity
  #指定映射文件
  mapperLocations: classpath:mapper/*.xml

