<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyuta.dao.CompanyDao">

    <resultMap id="companyMap" type="com.leyuta.entity.Company">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="reg_time" property="regTime" jdbcType="TIMESTAMP"/>
        <result column="expire_date" property="expireDate" jdbcType="DATE"/>
    </resultMap>

    <select id="getCompanyById" resultMap="companyMap">
      SELECT id,name,address,phone,reg_time,expire_date
      FROM company
      WHERE id = #{cid}
    </select>
</mapper>
